@charset "UTF-8";
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
body a {
  text-decoration: none;
  color: #000000;
}

header .logo {
  margin: auto;
  display: block;
  width: 197px;
  margin-top: 14px;
}
header img {
  width: 100%;
}

.recherche {
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  height: 50px;
}
.recherche input {
  font-weight: 500;
  text-align: center;
  border: 0px;
  background-color: transparent;
  width: 115px;
  text-decoration: #353535;
}
.recherche i {
  color: #353535;
}

.exploration .titre-exploration {
  text-align: center;
  background-color: #f6f6f6;
  padding: 20px;
  font-weight: 700;
}
.exploration h1 {
  margin: 0;
  font-weight: 700;
  font-family: Roboto;
}
.exploration .sous-titreH1 {
  font-weight: 300;
  padding: 0px 58px;
}
.exploration button {
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  height: 50px;
  color: white;
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  padding: 13px 18.75px;
  border: 0;
}
.exploration button:hover {
  filter: brightness(1.2);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

.fonctionnement {
  padding: 20px;
}
.fonctionnement ul {
  padding: 7px;
  margin: 0;
}
.fonctionnement ul li {
  height: 72px;
  display: flex;
  align-items: center;
  background: #f7f7f7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  margin-bottom: 25px;
  padding-left: 50px;
  position: relative;
}
.fonctionnement ul li .chiffres {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -5px;
  background: #9356dc;
  height: 24px;
  width: 24px;
  border-radius: 25px;
  color: white;
}
.fonctionnement ul i {
  margin-right: 25px;
  color: #7e7e7e;
}
.fonctionnement ul #iconeSTORE {
  color: #9356dc;
}

.restaurants {
  padding: 20px;
  margin-bottom: 66px;
}
.restaurants .restaurants-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.restaurants .card {
  position: relative;
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
}
.restaurants .card .nouveau {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #99e2d0;
  width: 80px;
  right: 37px;
  height: 29px;
  top: 20px;
  color: #008766;
  font-weight: 500;
}
.restaurants .card .nouveau2 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #99e2d0;
  width: 80px;
  right: 37px;
  height: 29px;
  margin-top: 20px;
  color: #008766;
  font-weight: 500;
}
.restaurants .card img {
  object-fit: cover;
  width: 100%;
  height: 237px;
}
.restaurants .card .card-content {
  padding-left: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.restaurants .card .card-content .card-title {
  margin: 0;
  margin-top: 16px;
  font-weight: 700;
}
.restaurants .card .card-content .card-subtitle {
  font-weight: 300;
  margin-top: 5px;
  padding-bottom: 12px;
}
.restaurants .card .card-content .coeur {
  padding-right: 25px;
  position: relative;
  font-size: 27px;
}
.restaurants .card .card-content .coeur .coeur-vide {
  position: absolute;
  right: 25px;
  top: -14px;
}
.restaurants .card .card-content .coeur .coeur-plein {
  position: absolute;
  opacity: 0;
  right: 25px;
  top: -14px;
  background: -webkit-linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.restaurants .card .card-content .coeur .coeur-plein:hover {
  transition-property: all;
  transition-duration: 2s;
  opacity: 1;
}

footer {
  background-color: #353535;
  color: white;
  padding-top: 22px;
  padding-bottom: 22px;
}
footer .titre-footer {
  font-family: "Shrikhand", cursive;
  margin-top: 22px;
  padding-bottom: 16px;
}
footer a {
  color: white;
  font-weight: 500;
}
footer ul {
  padding-left: 25px;
}
footer ul #footer-logo {
  margin: 0;
  padding: 22px;
}
footer li {
  display: flex;
  align-items: center;
  height: 19px;
  margin-bottom: 7px;
  gap: 15px;
}
footer i {
  padding-right: 0;
}

/*Animation du défilement du menu*/
@keyframes appear {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.anim1 {
  transform: scale(1);
  animation-name: appear;
  animation-duration: 1s;
  animation-delay: 0.1s;
  margin-bottom: 40px;
}
.anim2 {
  transform: scale(1);
  animation-name: appear;
  animation-duration: 1s;
  animation-delay: 0.4s;
  margin-bottom: 40px;
}
.anim3 {
  transform: scale(1);
  animation-name: appear;
  animation-duration: 1s;
  animation-delay: 0.7s;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 63px;
}
header i {
  color: #353535;
  margin-left: 32px;
  font-size: 20px;
}

.image-header img {
  height: 275px;
  object-fit: cover;
  width: 100%;
}

h1 {
  font-family: "Shrikhand", cursive;
  margin-left: 17px;
}

.menu {
  padding: 13px;
  background: #f6f6f6;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  margin: -40px 0px 0px 0px;
  position: relative;
  border-radius: 35px;
}
.menu .titre-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu .coeur {
  padding-right: 25px;
  position: relative;
  font-size: 25px;
}
.menu .coeur .coeur-vide {
  position: absolute;
  right: 35px;
  top: -10px;
}
.menu .coeur .coeur-plein {
  position: absolute;
  opacity: 0;
  right: 35px;
  top: -10px;
  background: -webkit-linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.menu .coeur .coeur-plein:hover {
  transition-property: all;
  transition-duration: 2s;
  opacity: 1;
}
.menu h2 {
  border-bottom: 3px solid #99e2d0;
  width: 40px;
}
.menu article {
  background: #f7f7f7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}
.menu article .choix {
  display: flex;
  padding-left: 9px;
  margin-bottom: 12px;
  height: 69px;
}
.menu article .choix .prix {
  font-weight: bold;
  margin-top: 36px;
  width: 10%;
}
.menu article .choix .prix p {
  margin: 0;
}
.menu article .choix .texte-choix {
  margin-top: 12px;
  width: 90%;
  transition: all 1s;
}
.menu article .choix .texte-choix h3 {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu article .choix .texte-choix p {
  margin-bottom: 0px;
  margin-top: 1px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu article .valide {
  background: #99e2d0;
  border-radius: 0px 15px 15px 0px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0%;
  transition: all 1s;
}
.menu article i {
  opacity: 0;
  transition: all 1s;
}
.menu article:hover .valide {
  transition: all 1s;
  width: 20%;
}
.menu article:hover .valide i {
  transition: all 1s;
  opacity: 1;
}
.menu article:hover .texte-choix {
  transition: all 1s;
  width: 70%;
}
.menu .bouton-commander {
  display: flex;
  justify-content: center;
}
.menu .bouton-commander button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  height: 50px;
  color: white;
  font-size: 16px;
  width: 186px;
  border: 0;
  margin-bottom: 40px;
  margin-top: 40px;
}
.menu .bouton-commander button:hover {
  filter: brightness(1.2);
  box-shadow: 0px 16px 40px rgba(0, 0, 0, 0.25);
}

.container-loader {
  height: 100%;
  width: 100%;
  z-index: 1;
  background: white;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: display 3s;
  animation-fill-mode: forwards;
}
.container-loader span {
  margin: 1rem;
}

.load {
  width: 30vh;
  height: 22.5vh;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 0;
}
.load__bar {
  background-color: #99e2d0;
  height: 100%;
  width: 3vh;
  animation: bars 3000ms backwards infinite alternate ease-in-out;
}
.load__bar--1 {
  animation-delay: 200ms;
}
.load__bar--1-inv {
  animation-delay: 1160ms;
  animation-direction: alternate-reverse;
  animation-fill-mode: forwards;
  background: #9356dc;
}
.load__bar--1-inv:hover {
  animation-play-state: paused;
}
.load__bar--2 {
  animation-delay: 400ms;
}
.load__bar--2-inv {
  animation-delay: 1180ms;
  animation-direction: alternate-reverse;
  animation-fill-mode: forwards;
  background: #9356dc;
}
.load__bar--2-inv:hover {
  animation-play-state: paused;
}
.load__bar--3 {
  animation-delay: 600ms;
}
.load__bar--3-inv {
  animation-delay: 630ms;
  animation-direction: alternate-reverse;
  animation-fill-mode: forwards;
  background: #9356dc;
}
.load__bar--3-inv:hover {
  animation-play-state: paused;
}
.load__bar--4 {
  animation-delay: 800ms;
}
.load__bar--4-inv {
  animation-delay: 2015ms;
  animation-direction: alternate-reverse;
  animation-fill-mode: forwards;
  background: #9356dc;
}
.load__bar--4-inv:hover {
  animation-play-state: paused;
}
.load__bar--5 {
  animation-delay: 1000ms;
}
.load__bar--5-inv {
  animation-delay: 1255ms;
  animation-direction: alternate-reverse;
  animation-fill-mode: forwards;
  background: #9356dc;
}
.load__bar--5-inv:hover {
  animation-play-state: paused;
}
.load__bar--6 {
  animation-direction: alternate-reverse;
  background: pink;
  animation-delay: 1600ms;
}
.load__bar--6:hover {
  animation-play-state: paused;
}
.load__bar--7 {
  animation-direction: alternate-reverse;
  background: pink;
  animation-delay: 1260ms;
}
.load__bar--7:hover {
  animation-play-state: paused;
}
.load__bar--8 {
  animation-direction: alternate-reverse;
  background: pink;
  animation-delay: 2420ms;
}
.load__bar--8:hover {
  animation-play-state: paused;
}
.load__bar--9 {
  animation-direction: alternate-reverse;
  background: pink;
  animation-delay: 1520ms;
}
.load__bar--9:hover {
  animation-play-state: paused;
}
.load__bar--10 {
  animation-direction: alternate-reverse;
  background: pink;
  animation-delay: 1300ms;
}
.load__bar--10:hover {
  animation-play-state: paused;
}

@keyframes bars {
  0% {
    transform: scaleY(0.5);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes display {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
@media (min-width: 1400px) {
  .exploration h1 {
    font-size: 40px;
  }
  .fonctionnement {
    padding: 0;
  }
  .fonctionnement h2 {
    margin-left: 180px;
    margin-top: 50px;
  }
  .fonctionnement ul {
    display: flex;
    gap: 36px;
    margin-left: 180px;
  }
  .fonctionnement li {
    margin-bottom: 0px;
    width: 300px;
  }
  .menu {
    width: 45%;
    margin-left: 193px;
    padding-left: 210px;
    padding-right: 211px;
  }
  .menu h1 {
    margin-top: 51px;
  }
  .menu .titre-menu {
    display: flex;
    justify-content: center;
  }
  .menu .coeur {
    left: 100px;
    top: 12px;
  }
  .menu .bouton-commander button {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .menu .restaurants {
    background-color: #f6f6f6;
    padding: 30px 180px;
  }
  .menu .restaurants h2 {
    margin-top: 0px;
  }
  .menu .restaurants img {
    height: 231px;
  }
  .menu .restaurants .restaurants-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 68px;
  }
  .menu .restaurants .card {
    width: 46%;
  }
  .menu .footer {
    display: flex;
    flex-direction: row-reverse;
  }
  .menu .footer ul {
    display: flex;
    gap: 35px;
    padding-left: 80px;
  }
  .menu .footer ul .titre-footer {
    padding-bottom: 5px;
    margin-right: 58px;
  }
}

/*# sourceMappingURL=style.css.map */
