body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  a {
    text-decoration: none;
    color: #000000;
  }
}

header {
  .logo {
    margin: auto;
    display: block;
    width: 197px;
    margin-top: 14px;
  }
  img {
    width: 100%;
  }
}

.recherche {
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  p {
    font-weight: 500;
  }
  i {
    color: #353535;
  }
}

.exploration {
  .titre-exploration {
    text-align: center;
    background-color: #f6f6f6;
    padding: 20px;
    font-weight: 700;
  }
  h1 {
    margin: 0;
  }

  .sous-titreH1 {
    font-weight: 300;
    padding: 0px, 58px;
  }

  button {
    background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    height: 50px;
    color: white;
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
    padding: 13px 18.75px;
  }
}

.fonctionnement {
  padding: 20px;
  ul {
    padding: 7px;
    margin: 0;
    li {
      display: flex;
      align-items: center;
      background: #f7f7f7;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
      border-radius: 20px;
      margin-bottom: 25px;
      padding-left: 32px;
    }
    i {
      margin-right: 25px;
      color: #7e7e7e;
    }
    #iconeSTORE {
      color: #9356dc;
    }
  }
}

.restaurants {
  gap: 20px;
  padding: 20px;

  .restaurants-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .card {
    background: #ffffff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
    img {
      object-fit: cover;
      height: 237px;
      width: 100%;
      // box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
      // border-radius: 15px;
    }
    .card-content {
      padding-left: 13px;
      .card-title {
        margin: 0;
        margin-top: 16px;
        font-weight: 700;
      }
      .card-subtitle {
        font-weight: 300;
        margin-top: 5px;
        padding-bottom: 12px;
      }
    }
  }
}

footer {
  background-color: #353535;
  color: white;
  .titre-footer {
    font-family: "Shrikhand", cursive;
    margin-top: 22px;
    padding-bottom: 16px;
  }

  a {
    color: white;
    font-weight: 500;
  }

  ul {
    margin: 0;
    padding: 22px;
  }

  li {
    display: flex;
    align-items: center;
    height: 19px;
    margin-bottom: 7px;
    gap: 15px;
  }
  i {
    padding-right: 0;
  }
}
