body {
  margin: 0;
}

header {
  .logo {
    margin: auto;
    display: block;
    width: 197px;
    margin-top: 14px;
  }
  img {
    width: 100%;
  }
}

.recherche {
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
}

.exploration {
  .titre-exploration {
    text-align: center;
    background-color: #d2d2d2;
    padding: 20px;
  }
  h1 {
    margin: 0;
  }

  .sous-titreH1 {
    font-family: roboto;
    padding: 0px, 58px;
  }

  button {
    background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    height: 50px;
    color: white;
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
    padding: 13px 18.75px;
  }
}

.fonctionnement {
  padding: 20px;
  article {
    display: flex;
    align-items: center;
    // justify-content: center;
    background: #f7f7f7;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    margin-bottom: 24.92px;
    i {
      // padding-right: 17px;
      margin-right: 30;
    }
  }
}

.restaurants {
  gap: 20px;
  padding: 20px;

  .restaurants-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .card {
    background: #ffffff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
    img {
      object-fit: cover;
      height: 237px;
      width: 100%;
      // box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
      // border-radius: 15px;
    }
    .card-content {
      padding-left: 13px;
      .card-title {
        margin: 0;
        margin-top: 16px;
      }
      .card-subtitle {
        margin-top: 5px;
        padding-bottom: 12px;
      }
    }
  }
}

footer {
  background-color: #353535;
  color: white;
  .titre-footer {
    margin-top: 22px;
    padding-bottom: 16px;
  }

  ul {
    margin: 0;
    padding: 22px;
  }
  li {
    display: flex;
    align-items: center;
    gap: 11px;
    height: 19px;
    margin-bottom: 7px;
  }
}
