header {
  .logo {
    margin: auto;
    display: block;
    width: 197px;
    margin-top: 14px;
  }
  img {
    width: 100%;
  }
}

.image-header {
  img {
    height: 275px;
    width: 375px;
  }
}
.menu {
  padding: 13px;
  background: #f6f6f6;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  margin: -40px 0px 0px 0px;
  position: relative;
  border-radius: 35px;
  h2 {
    border-bottom: 3px solid #99e2d0;
    width: 40px;
  }
  article {
    background: #f7f7f7;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    i {
      opacity: 0;
    }

    .choix {
      display: flex;
      padding-left: 9px;
      margin-bottom: 12px;
      height: 69px;
      .prix {
        font-weight: bold;
        margin-top: 36px;
        width: 5%;
        p {
          margin: 0;
        }
      }
      .texte-choix {
        margin-top: 12px;
        // margin-bottom: 6px;
        width: 90%;

        h3 {
          margin: 0;
        }
        p {
          margin-bottom: 0px;
          margin-top: 1px;
        }
      }
    }

    &:hover {
      .prix {
        margin-right: 25px;
      }
      h3,
      p {
        width: 240px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      .valide {
        transition-property: transform;
        transition-duration: 1s;
        margin-right: -12px;
        transform: translatex(-18%);
        background: #99e2d0;
        border-radius: 0px 15px 15px 0px;
        height: 69px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20%;
        i {
          opacity: 1;
        }
      }
    }
    // &:active {
    //   .valide {
    //     opacity: 1;
    //   }
    // }
  }
  .bouton-commander {
    display: flex;
    justify-content: center;
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
      border-radius: 25px;
      height: 50px;
      color: white;
      font-size: 16px;
      width: 186px;
      border: 0;
      &:hover {
        filter: brightness(1.2);
        box-shadow: 0px 16px 40px rgba(0, 0, 0, 0.25);
      }
    }
  }
}
