// XX-Large devices (desktops, 1440px and up)

@media (min-width: 1400px) {
  .exploration h1 {
    font-size: 40px;
  }

  .fonctionnement {
    padding: 0;
    h2 {
      margin-left: 180px;
      margin-top: 50px;
    }
    ul {
      display: flex;
      gap: 36px;
      margin-left: 180px;
    }
    li {
      margin-bottom: 0px;
      width: 300px;
    }
  }
  .menu {
    width: 45%;
    margin-left: 193px;
    padding-left: 210px;
    padding-right: 211px;
    h1 {
      margin-top: 51px;
    }
    .titre-menu {
      display: flex;
      justify-content: center;
    }
    .coeur-menu {
      .coeur-vide {
        left: 60px;
        top: 4px;
      }
      .coeur-plein {
        left: 60px;
        top: 4px;
      }
    }
  }

  .bouton-commander {
    button {
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }

  .restaurants {
    background-color: #f6f6f6;
    padding: 30px 180px;
    h2 {
      margin-top: 0px;
    }
    img {
      height: 231px;
    }
    .restaurants-cards {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 68px;
    }
    .card {
      width: 46%;
    }
  }

  .footer {
    display: flex;
    flex-direction: row-reverse;
    ul {
      display: flex;
      gap: 35px;
      padding-left: 80px;
      .titre-footer {
        padding-bottom: 5px;
        margin-right: 58px;
      }
    }
  }
}
